body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 10px 20px;
    border-radius: 5px;
}
.header-l{
    float: left;
    width: 40%;
    padding-left: 5%;   
}
.header-r{
    float: right;
    width: 40%;
    padding-right: 5%;
    padding-top: 8%;
}
.section-1{
    background-image: url(img/bg/header-bg.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    padding: 80px;
}
.section-2{
    background-image: url(img/bg/biography-bg.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    padding: 80px;
}
.section-3{
    background-image: url(img/bg/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 580px;
    background-size: cover;
    padding: 80px;
    
}
.section-4{
    background-image: url(img/bg/footer-bg.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    padding: 80px;
    text-align: center;
}
.section-5{
    
    padding-bottom: 50px;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    height: 400px;
    background-position: left;
    
}
.my-pic{
    width: 100%;
}
.a11{
    padding-top: 35%;
}
.a12{
    padding-top: 50%;
}
p{
    padding-bottom: 40px;
    padding-top: 40px;
}
h1{
    font-size: 50px;
    color: steelblue;
}
h2{
    font-size: 35px;
}
.mid-l{
    float: left;
    width: 40%;
    padding-left: 5%; 
    padding-top: 8%;
}
.mid-r{
    float: right;
    width: 40%;
    padding-right: 5%;
    
}
.l-works{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    
}
.lw-pic{
    width: 30%;
}
#lw-h2{
    text-align: center;
}
.b-half{
    float: left;
    width: 35%;
    margin-left: 5%;
    box-shadow: 10px 10px 20px gray;
    height: 80%;
    padding: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ff4e00 0%, #ec9f05 74%);
    border-image-slice: 1;
    
}
.b-half2{
    float: right;
    width: 35%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
    height: 80%;
    padding: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #15e7cb 0%, #0d41eb 74%);
    border-image-slice: 1;
}
footer{
    color: rgb(184, 180, 174);
    text-align: center;
    padding-top: 100px;
}
#exp{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 0;
}
h3{
    color: orange;
}
#client-say{
    font-weight: 700;
}
#client{
    font-weight: 700;
    padding-bottom: 0px;
    font-size: 20px;
}
#company{
    padding: 0;
    color: rgb(66, 65, 64);
    font-weight: 600;
    font-size: 15px;

}
#mail{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    border-radius: 6px;
    margin-left: 200px;
    margin-right: 200px;
}
#mail-link{
    text-decoration: none;
    color: white;
}
#mail-req{
    font-size: 15px;
}
#mail-id{
    font-size: 25px;
}